H1 {
    text-align: center;
    background-color: rgb(245, 175, 175);
    margin: 5pxp;
    border: 2px solid black;
    padding: 5px;
    outline: 2.5px dashed blue;
}

body {
    background-color: aquamarine;
    background-size: cover;
}

.exe {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: 2.5px solid rgb(49, 5, 243);
}

.exe ul {
    background-color: rgba(236, 241, 214, 0.726);
    height: 60px;
    width: auto;
    border: 1px solid tomato;
    outline: 2px dashed darkblue;
}

.exe ul li {
    display: inline-block;
    margin: 18px;
    padding-left: 115px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}

.exe ul li a {
    text-decoration: none;
    color: rgba(8, 8, 8, 0.801);
}

img {
    padding: 5px;
    border: 1px solid rgb(245, 245, 133);
    outline: solid black;
    float: right;
    height: 200px;
    width: 300px;
    image-orientation: flip;
}

.imgbody {
    padding-right: 40px;
    padding-top: 15px;
    background-color: rgb(233, 192, 245);
    height: 650px;
}

p {
    background-color: rgb(233, 192, 245);
    height: 30px;
    padding-top: 7px;
    text-align: center;
    border: 2px solid blueviolet;
    outline: 3px dashed yellow;
}